<script>
  export let imgSrc =
    "https://i.pinimg.com/originals/44/5e/fc/445efcdd7459264333a37ff0cf1febd1.jpg";
  export let name = "Name";
  export let classes = "";
  export let imgclass = "";
</script>

<div class="{classes} mr-8 p-2 mb-2 text-center flex flex-col">
  <div>
    <img
      src={imgSrc}
      class="{imgclass} w-24 h-24 rounded-full bg-cover"
      alt=""
    />
  </div>
  <div>
    <p class="w-full mx-auto capitalize mt-4 text-black text-base font-normal">
      {name}
    </p>
  </div>
</div>
