<script>
  import NavLink from "../Atoms/NavLink.svelte";
  export let classes = "";
  export let rightFooterClasses = "";
  export let leftFooterClasses = "";
</script>

<div
  class="flex flex-wrap {classes} w-screen items-center space-y-10 sm:space-y-0 py-0 sm:py-8 md:py-16 justify-between"
>
  <div class="w-max {leftFooterClasses} ">
    <NavLink
      classes="h-min max-h-16 flex flex-col justify-center"
      title="Connect"
      textColor="text-black"
      textSize="text-2xl sm:text-4xl md:text-6xl"
      textWeight="700"
      disableHover={true}
      changeWithURL={false}
    />
    <NavLink
      classes="mt-2 sm:mt-4 h-min max-h-8 flex flex-col justify-center"
      title="© 2021 Aztlan Pvt Ltd"
      textColor="text-black"
      textSize="text-xs sm:text-sm md:text-base"
      textWeight="400"
      disableHover={true}
      changeWithURL={false}
    />
  </div>
  <div class={rightFooterClasses}>
    <NavLink
      classes="h-min max-h-9 flex flex-col justify-center"
      title="Email"
      textColor="text-gray-900"
      textColorHover="text-gray-500"
      textSize="text-base sm:text-xl md:text-3xl"
      textWeight="400"
      changeWithURL={false}
    />
    <NavLink
      classes="h-min mt-1 sm:mt-3 max-h-9 flex flex-col justify-center"
      title="Linkedin"
      textColor="text-gray-900"
      textColorHover="text-gray-500"
      textSize="text-base sm:text-xl md:text-3xl"
      textWeight="400"
      changeWithURL={false}
    />
    <NavLink
      classes="h-min mt-1 sm:mt-3 max-h-9 flex flex-col justify-center"
      title="Medium"
      textColor="text-gray-900"
      textColorHover="text-gray-500"
      textSize="text-base sm:text-xl md:text-3xl"
      textWeight="400"
      changeWithURL={false}
    />
    <NavLink
      classes="h-min mt-1 sm:mt-3 max-h-9 flex flex-col justify-center"
      title="Twitter"
      textColor="text-gray-900"
      textColorHover="text-gray-500"
      textSize="text-base sm:text-xl md:text-3xl"
      textWeight="400"
      changeWithURL={false}
    />
  </div>
</div>
