<script>
  import NavLink from "../Atoms/NavLink.svelte";
  export let classes = "";
  export let isFixed = true;
  $: NavBg = "#F1F1F1";
  export let nav1 = "tab";
  export let nav2 = "tab";
  export let nav3 = "tab";
  export let nav1url = "/";
  export let nav2url = "/";
  export let nav3url = "/";
  $: Backdrop = "";
  $: icon = "fa fa-bars";
  $: height = "h-max";
  $: mobnav = "hidden";
  let toggleNav = () => {
    if (height == "h-max") {
      icon = "fa fa-times";
      height = "h-full";
      mobnav = "";
      NavBg = "transparent";
      Backdrop = "backdrop-filter backdrop-blur-lg shadow";
      document.getElementById("body").style.overflow = "hidden";
    } else {
      Backdrop = "";
      icon = "fa fa-bars";
      height = "h-max";
      mobnav = "hidden";
      NavBg = "#F1F1F1";
      document.getElementById("body").style.overflow = "auto";
    }
  };
</script>

<div
  style="background-color: {NavBg};"
  class="{classes} {Backdrop} transition duration-500 ease-in-out {height} {NavBg} overflow-hidden {isFixed
    ? 'fixed top-0 inset-x-0'
    : 'mt-20'} py-1"
>
  <div class="flex sm:flex-wrap justify-between  w-full items-center ">
    <div class="flex flex-wrap  h-full justify-center">
      <a href="/"
        ><img src="images/logo.png" alt="AZTLAN" class=" w-10 h-10 " /></a
      >
    </div>
    <div class="hidden sm:flex space-x-6 h-full">
      <NavLink url={nav1url} title={nav1} />
      <NavLink url={nav2url} title={nav2} />
      <NavLink url={nav3url} title={nav3} />
    </div>
    <div class="sm:hidden cursor-pointer my-auto" on:click={toggleNav}>
      <i class="{icon} text-2xl my-auto cursor-pointer" />
    </div>
  </div>
  <div
    on:click={toggleNav}
    class="mx-auto absolute text-center inset-x-0 top-14 bottom-0 {mobnav}"
  >
    <div class="flex h-full flex-col flex-wrap justify-center space-y-6">
      <NavLink
        classes="block"
        title={nav1}
        url={nav1url}
        textSize="text-4xl"
        textWeight="font-light"
      />
      <NavLink
        classes="block"
        title={nav2}
        url={nav2url}
        textSize="text-4xl"
        textWeight="font-light"
      />
      <NavLink
        classes="block"
        title={nav3}
        url={nav3url}
        textSize="text-4xl"
        textWeight="font-light"
      />
    </div>
  </div>
</div>
