<script>
  import Heading from "../Atoms/Heading.svelte";
  import Button from "../Atoms/Button.svelte";
  import NavLink from "../Atoms/NavLink.svelte";
  export let productName = "Product";
  export let productTagline = "Product by AZTLAN";
  export let productImg = "images/workpeer.png";
  export let classes = "";
  export let productURL = "/";
</script>

<div class="{classes} pb-3 relative overflow-x-hidden w-full h-full pt-32">
  <Heading
    title={productTagline}
    classes="text-center mx-auto px-10 sm:px-24 md:px-44 lg:px-52"
    textWeight="font-medium"
    textSize="text-md sm:text-2xl md:text-3xl lg:text-4xl"
  />
  <Button classes="mt-6 mx-auto" url={productURL} title="Go to {productName}" />
  <div class="w-screen flex justify-center px-4 sm:px-8 md:px-14 lg:px-20">
    <img
      src={productImg}
      class="shadow-custom flex flex-shrink mt-16 "
      alt={productName}
    />
  </div>
</div>
