<script>
  import Heading from "../Atoms/Heading.svelte";
  export let role = "Role";
  export let skillset = ["AdobeXD/ Figma", "AdobeXD/ Figma"];
  export let classes = "";
  $: expand = "h-0 overflow-hidden";
  let toggle = () => {
    if (expand == "h-0 overflow-hidden") {
      expand = "transition-transform transform translate-y-2";
    } else {
      expand = "h-0 overflow-hidden";
    }
  };
</script>

<div on:click={toggle} class="{classes} divide-black flex flex-col">
  <Heading
    classes="cursor-pointer"
    title={role}
    textSize="text-2xl"
    textWeight="font-semibold"
  />
  <div class="transition duration-500 ease-in-out {expand}">
    {#each skillset as skill}
      <Heading
        classes="my-1"
        title={skill}
        textSize="text-base"
        textWeight="font-normal"
      />
    {/each}
  </div>
</div>
