<script>
  import Button from "../Atoms/Button.svelte";
  import axios from "axios";
  import Heading from "../Atoms/Heading.svelte";
  import Input from "../Atoms/Input.svelte";
  import Role from "../Molecules/Role.svelte";
  import { name, email, link } from "../stores";
  $: fullname = "";
  $: mail = "";
  $: resumelink = "";
  $: alertClass = "h-0";
  $: res = "";
  let close = () => {
    alertClass = "height-0";
    res = "";
  };
  let apply = async () => {
    name.subscribe((value) => {
      fullname = value;
    });
    email.subscribe((value) => {
      mail = value;
    });
    link.subscribe((value) => {
      resumelink = value;
    });
    console.log(fullname, mail, resumelink);
    await axios({
      method: "post",
      url:
        "https://api.workpeer.in/api/v1/receive-application?name=" +
        fullname +
        "&email=" +
        mail +
        "&link=" +
        resumelink,
      data: {},
    }).then((response) => {
      console.log(response.data);
      res = response.data.detail;
      alertClass =
        "h-max bg-black text-gray-300 px-4 py-2 transform -translate-y-10 translate-x-1/2 border shadow-lg";
      setTimeout(() => {
        close();
      }, 5000);
    });
  };
</script>

<div>
  <div class="w-full h-full mb-20 pt-40 flex justify-between flex-wrap">
    <div class="space-y-10">
      <div class="space-y-5">
        <Heading
          textWeight="font-semibold"
          textSize="text-6xl"
          title="Open Positions"
        />
      </div>
      <div class="flex flex-col space-y-6 w-full">
        <Role
          classes="w-full"
          role="Design Intern"
          skillset={["Figma/AdobeXD", "Protoyping"]}
        /><Role
          classes="w-full"
          role="Backend Engineer"
          skillset={[
            "Basic Python",
            "Understanding of MVC",
            "API",
            "Any Database",
          ]}
        /><Role
          classes="w-full"
          role="Frontend Engineer"
          skillset={[
            "HTML, CSS & JS",
            "React or similar framework",
            "API Integration",
          ]}
        />
      </div>
    </div>
    <div
      class="mt-20 relative w-screen lg:w-6/12 flex justify-start lg:justify-end sm:mt-10 md:mt-14 lg:mt-0"
    >
      <div class="space-y-10 w-screen lg:w-max lg:fixed right-44">
        <Input
          classes="w-10/12 sm:w-96 block"
          placeholder="Your Name"
          val={name}
        />
        <Input
          classes="w-10/12 sm:w-96 block"
          placeholder="Email"
          val={email}
        />
        <Input
          classes="w-10/12 sm:w-96 block"
          placeholder="Resume Link"
          val={link}
        />
        <Button onclick={apply} title="Apply" />
      </div>
    </div>
  </div>
  <div class="fixed bottom-20 inset-x-0">
    <button
      class="{alertClass} z-90 mx-auto w-6/12 transform translate-x-1/2 transition-all duration-500 ease-in-out"
    >
      {res}
    </button>
  </div>
</div>
