<script>
  import Button from "../Atoms/Button.svelte";
  import Heading from "../Atoms/Heading.svelte";
  import Input from "../Atoms/Input.svelte";
  import axios from "axios";
  import { name, email, message } from "../stores";
  $: fullname = "";
  $: mail = "";
  $: msg = "";
  $: alertClass = "h-0";
  $: res = "";
  let close = () => {
    alertClass = "height-0";
    res = "";
  };
  let submit = async () => {
    name.subscribe((value) => {
      fullname = value;
    });
    email.subscribe((value) => {
      mail = value;
    });
    message.subscribe((value) => {
      msg = value;
    });
    console.log(fullname, mail, msg);
    await axios({
      method: "post",
      url:
        "https://api.workpeer.in/api/v1/aztlan-contact-us?name=" +
        fullname +
        "&email=" +
        mail +
        "&message=" +
        msg,
      data: {},
    }).then((response) => {
      console.log(response.data);
      res = response.data.detail;
      alertClass =
        "h-max bg-black px-4 py-2 transform -translate-y-10 translate-x-1/2 border shadow-lg";
      setTimeout(() => {
        close();
      }, 5000);
    });
  };
</script>

<div>
  <div class="w-full h-screen lg:flex pt-40 lg:flex-wrap justify-between">
    <div class="space-y-5 h-max lg:h-full">
      <Heading textWeight="font-semibold" textSize="text-6xl" title="Hey!" />
      <Heading
        title="We will get back to you asap"
        textWeight="font-normal"
        textSize="text-2xl"
      />
    </div>
    <div
      class="mt-20 relative w-screen lg:w-6/12 flex justify-start lg:justify-end sm:mt-10 md:mt-14 lg:mt-0"
    >
      <div class="space-y-10 w-screen lg:w-max lg:fixed right-44">
        <Input name="name" classes="block" placeholder="Your Name" val={name} />
        <Input name="email" classes="block " placeholder="Email" val={email} />
        <Input
          name="message"
          classes="block"
          placeholder="Your Message"
          val={message}
          type="textarea"
        />
        <Button onclick={submit} isLink={false} classes="" title="Submit" />
      </div>
    </div>
  </div>
  <div class="fixed bottom-20 inset-x-0">
    <button
      class="{alertClass} z-90 mx-auto w-6/12 text-gray-300 transform translate-x-1/2 transition-all duration-500 ease-in-out"
    >
      {res}
    </button>
  </div>
</div>
