<script>
  import Heading from "../Atoms/Heading.svelte";
  import Footer from "../Molecules/Footer.svelte";
  import Nav from "../Molecules/Nav.svelte";
  import Product from "../Molecules/Product.svelte";
</script>

<div class="w-screen h-full absolute top-0 inset-x-0 overflow-x-hidden">
  <div class="w-full h-full z-10">
    <Product
      productURL="https://workpeer.in"
      classes=""
      productImg="images/workpeer.png"
      productName="Workpeer"
      productTagline="Effortless scheduling meets objective based meetings built for hyper productive teams."
    />
  </div>
</div>
