<script>
  import Avatar from "../Molecules/Avatar.svelte";
  import Heading from "../Atoms/Heading.svelte";
</script>

<div
  class="w-full h-screen pt-40 overflow-x-hidden overflow-y-auto flex flex-col space-y-10"
>
  <div class="space-y-5">
    <Heading textWeight="font-semibold" textSize="text-6xl" title="Our Team" />
  </div>
  <div class="w-full flex flex-wrap justify-start">
    <Avatar
      name="Suhas"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-125"
      imgSrc="images/Team/Suhas.jpeg"
    />
    <Avatar
      name="Abhinav"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-125"
      imgSrc="images/Team/Abhinav.jpeg"
    />
    <!-- <Avatar
      name="Krishna"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-125"
      imgSrc="images/Team/Krishna.jpeg"
    /> -->
    <Avatar
      name="Priyav"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-125"
      imgSrc="images/Team/Priyav.jpeg"
    />
    <Avatar
      name="Abhishek"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-90"
      imgSrc="images/Team/Abhishek.jpeg"
    />
    <Avatar
      name="Nishant"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-125"
      imgSrc="images/Team/Nishant.jpeg"
    />
    <Avatar
      name="Vishnu"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-125"
      imgSrc="images/Team/Vishnu.jpeg"
    />
    <Avatar
      name="Jashan"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-125"
      imgSrc="images/Team/Jashan.jpeg"
    />
    <Avatar
      name="Arshdeep"
      imgclass="filter grayscale saturate-0 contrast-75 brightness-100"
      imgSrc="images/Team/Arsh.jpeg"
    />
  </div>
</div>
