<script>
  export let classes = "";
  export let title = "Button";
  export let url = "";
  export let isLink = true;
  export let type = "button";
  export let onclick;
</script>

{#if !isLink}
  <button
    on:click={onclick}
    {type}
    class="{classes} text-xs sm:text-sm md:text-base lg:text-base flex items-center justify-center transition duration-500 ease-in-out hover:bg-black hover:text-white focus:bg-black focus:text-white h-10 px-4 py-2 border-2 border-black font-semibold"
  >
    <a href={url}>{title}</a>
  </button>
{:else}
  <button
    on:click={onclick}
    {type}
    class="{classes} text-xs sm:text-sm md:text-base lg:text-base flex items-center justify-center transition duration-500 ease-in-out hover:bg-black hover:text-white focus:bg-black focus:text-white h-10 px-4 py-2 border-2 border-black font-semibold"
  >
    <a href={url}>{title}</a>
  </button>
{/if}
