<script>
  export let classes = "";
  export let title = "Heading";
  export let textColor = "text-gray-900";
  export let textSize = "text-3xl sm:text-4xl md:text-5xl lg:text-6xl";
  export let textWeight = "300";
</script>

<h1
  style="font-size: {textSize};font-weight:{textWeight};"
  class="{classes} {textSize} transition duration-500 ease-in-out {textWeight} {textColor}"
>
  {title}
</h1>
