<script>
  export let classes = "";
  export let title = "Link";
  export let url = "/";
  export let textColor = "text-gray-500";
  export let textColorHover = "text-gray-900";
  export let textSize = "text-base";
  export let textWeight = "font-medium";
  export let changeWithURL = true;
  export let disableHover = false;
</script>

<a href={url}>
  <span
    style="font-size: {textSize};font-weight:{textWeight};"
    class="{classes} transition duration-500 ease-in-out {textWeight} {textSize} {changeWithURL
      ? window.location.pathname.includes(url)
        ? textColorHover
        : textColor
      : textColor} hover:{disableHover ? textColor : textColorHover}"
    >{title}</span
  >
</a>
