html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
@font-face {
  font-family: jost;

  src: url(font/Jost/Jost-VariableFont_wght.ttf);
}

body {
	background-color: #f1f1f1 !important;
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: jost !important;
}

a {
	color: unset !important;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}
input,textarea{
	background: transparent !important;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.shadow-custom{
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}
textarea,input:focus ,button:focus,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  outline: none !important;
  text-decoration: none !important;
}
*::-webkit-scrollbar {
  display: none !important;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-overflow-style: none !important;
}