<script>
  import { Router } from "@roxi/routify";
  import Nav from "./Molecules/Nav.svelte";
  import { routes } from "../.routify/routes";
</script>

<svelte:head>
  <link
    href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    rel="stylesheet"
  />
</svelte:head>

<main class="overflow-x-hidden px-4 sm:px-14 md:px-20 lg:px-32 xl:px-44">
  <Nav
    classes="w-screen z-20 px-4 sm:px-8 lg:px-16"
    logo="AZTLAN"
    nav1="Career"
    nav1url="/career"
    nav2="Team"
    nav2url="/team"
    nav3="Contact"
    nav3url="/contact"
  />
  <Router {routes} />
</main>

<style global>
  @import "../assets/global.css";
</style>
